p {
    margin: 0;
}

.kalendar-akci {
    margin-top: 30px;
}

.kalendar-nazev {
    text-align: center;
    font-size: 30px;
    font-family: "Roboto";
}

.kalendar-akci2 {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: "Roboto";
}

/*pro tlacitko na jinou akci*/
.akce-tlacitko {
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 2px;
    padding: 5px 30px 5px 30px;
    transition: var(--background-color-dark) 0.15s, var(--background-color-light) 0.15s;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.akce-tlacitko:hover {
    background: rgb(86, 86, 86) !important;
    color: white;
}

.akce-tlacitko-light {
    color: black;
}

.akce-tlacitko-dark {
    color: white;
}

/**/
.ozveny-stinu2,
.ozveny-stinu2-navrat,
.ozveny-stinu2-coming-soon {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.organizatori-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.organizatori-text {
    display: inline-block;
    flex: 1;
}


/*
@media only screen and (min-width: 1500px) {
    .ozveny-stinu2 {
        display: flex;
        width: 20%;
    }
}


@media only screen and (min-width: 1000px) {
    .ozveny-stinu2 {
        display: flex;
        width: 30%;
    }
}

@media only screen and (min-width: 601px) and (max-width: 999px){
    .ozveny-stinu2 {
        display: flex;
        width: 45%;
    }
}

@media only screen and (max-width: 600px) {
    .ozveny-stinu2 {
        display: flex;
        width: 60%;
    }
}
*/


.ozveny2-popis {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.ozveny2-img {
    flex: 1;
    display: flex;
}

.datum-left {
    display: block;
}

.datum-left2 {
    display: inline-block;
}

.datum-left3 {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.moznost {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
}




.datum-right {
    display: inline-block;
    margin-right: 5px;
}

.datumy {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* písmo */
h4 {
    font-style: oblique;
    margin-top: -7px;
}

h1 {
    font-size: 33px;
    margin-top: 3px;
}

.italic {
    font-style: italic;
}

/* obecne styly k stránce*/

.ozveny-stinu-link {
    text-decoration: none;
    color: rgb(192, 210, 230) !important;
}

.popis-ozveny-stinu {
    text-align: center;
    font-family: "Roboto", Arial;

}

a {
    color: aqua;

}

/*na popover pro oraganizotory*/

:popover-open {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    /* max-width: 70%;
    max-height: 70%; */
    background-color: rgba(0, 0, 0, 0.65);
    text-align: center;
    border: 1px solid #ccc;
}

@media only screen and (max-width: 800px) {
    .kalendar-akci2 {
        grid-template-columns: 1fr !important;
    }

    :popover-open {
        max-width: 85%;
        max-height: 85%;
    }
}