/* Obecné nastavení stránky */
body {
    background-color: black;
    color: white;
    width: 100%;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    padding: 0;
}

/* Navigační menu */
nav {
    position: fixed;
    width: 100%;
    background-image: url("kvido\ html-img/foto/Nav.panel/temný\ les\ 3.jpg");
    padding: 1rem;
    z-index: 5;
    margin-top: 0px;
    top: 0;
    left: 0;
    text-align: left;

}

/*Pro divny flex menu*/
.divny-flex-menu-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.divny-flex-menu-nadpis-a-mece {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 70px;
    gap: 7px;
    /* Functional change: added gap between flex items */
}

.divny-flex-menu-nadpis-container {
    flex: 1;
    text-align: center;
}

.divny-flex-menu-mece-container {
    width: 90px;
    text-align: left;
}

.divny-flex-menu-podnadpis {
    text-align: center;
    margin-top: 7px;
    flex: 23px;
}

.divny-flex-menu-mece-img {
    width: 70px;
    height: 70px;
    object-fit: contain;
    cursor: pointer;
    text-align: left;
    margin-bottom: 20px;
}

/* poloha */
.pravo {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10;
}

.nadpis {
    text-align: left;
    margin-left: 20px;
    margin-bottom: 5px;
}

/* menu */
.menu {
    width: 70px;
    height: 70px;
    cursor: pointer;
    transition: transform 0.3s;
}

.menu-btn {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.menu-open .menu {
    transform: rotate(90deg);
}

.side-menu {
    position: fixed;
    right: -150px;
    width: 150px;
    height: 100%;
    background-color: slategrey;
    transition: right 0.3s;
    flex-direction: column;
    z-index: 5;
    display: flex;
    padding-top: 60px;
}

.side-menu-open {
    right: 0;
}

.center {
    text-align: center;
}

.menu-item-s-submenu {
    position: relative;
    display: flex;
    flex-direction: column;
}

.ma-submenu {
    cursor: pointer;
}

.submenu {
    display: none;
    flex-direction: column;
    padding-left: 20px;
    margin-top: 5px;
}

.menu-item-s-submenu:hover .submenu {
    display: flex;
}

/* Styl pro odkazy v menu */
.side-menu a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
}

.side-menu a:hover {
    background: darkgray;
}

/* písmo */
h4 {
    font-style: oblique;
    margin-top: -7px;

}

h3 {
    padding-top: 0;
    margin-top: 0;


}

h1 {
    font-size: 33px;
    margin-top: 3px;
}

.italic {
    font-style: italic;
}

.nahoru {
    margin-top: -120px;
    position: relative;
}

.nahoru2 {
    margin-top: -100px !important;

}

.dolu {
    margin-top: 120px;
    position: relative;
}

.bez-mezer {
    margin-top: 0;
    padding-top: 0;
    line-height: 1;
}

.worker {
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 100px;
}

.icons {
    display: flex;
    justify-content: space-between;
}

.icons img {
    width: 100px;
    padding: 10px;
    justify-content: center;
    margin-right: 10%;
    margin-left: 10%;
}

.icons h2 {
    flex: 1;
    padding: 10xp;
    text-align: center;
}

.icons h3 {
    flex: 1;
    padding: 10xp;
    text-align: center;
}

.per-foto {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 90%;
    margin: 0 auto;
}

.per-foto img {
    width: auto;
    /* Umožní přizpůsobit šířku */
    max-width: 300px;
    /* Nastaví maximální šířku obrázku */
    height: auto;
    /* Zachová poměr stran */
    object-fit: contain;
    /* Zajistí správné zobrazení bez deformace */
    border-radius: 10px;
    /* Zaoblení rohů */
}

a {
    color: aqua;
}

.icons2 {
    display: flex;
    justify-content: center;
}

.icons2 img {
    width: 150px;
    justify-content: center;
    margin-right: 10%;
    margin-left: 10%;
}

/**/
/*pro o nas*/

.organizatori2,
.cepka2 {
    margin: 5px 15px 5px 15px;
}

.organizatori h2,
.cepka h2 {
    font-size: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.organizatori {
    display: flex;
    flex-direction: column;
}

.organizatori2 {
    display: grid;
    grid-template-columns: 1fr;
}

.cepka {
    display: flex;
    flex-direction: column;
}

.cepka2 {
    display: grid;
    grid-template-columns: 1fr;
}

@media only screen and (min-width:600px) {
    .foto-mobil {
        width: 50%;
    }

    ;
}

.foto-mobil {
    width: 60%;
}

/*
@media only screen and (max-width: 450px) {
    .cepka2{
        display: grid;
        grid-template-columns: 1fr;
    } 
    .organizatori2 {
        display: grid;
        grid-template-columns: 1fr;
    }
}
*/

/* pro os2*/

.info,
.info2-1,
.info2-2 {
    grid-template-columns: 1fr;
}

.ico {
    width: 30%;
}

.o-nas-prvni-text {
    font-style: italic;
    margin-top: 50px;
}


/*pro zvetsene obrazky*/

.zvetsene {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1000;
}

.zvetsene.hidden {
    display: none;
}

.zvetsene img {
    max-width: 90%;
    max-height: 80vh;
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 10px;
    right: 30px;
    font-size: 50px;
    color: white;
    cursor: pointer;
}

.arrow {
    color: white;
    font-size: 60px;
    position: absolute;
    top: 50%;
    cursor: pointer;
    user-select: none;
    padding: 20px;
    border-radius: 50%;
}

.arrow.left {
    left: 20px;
}

.arrow.right {
    right: 20px;
}

/* Animation: Slide in from the right */
@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
        opacity: 0.5;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Animation: Slide in from the left */
@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0.5;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Add these classes to the image temporarily */
.slide-left {
    animation: slideInFromRight 0.3s ease;
}

.slide-right {
    animation: slideInFromLeft 0.3s ease;
}