/* Navigační menu */
nav {
    position: fixed;
    width: calc(100vw - 2rem);
    background-image: var(--nav-img);
    padding: 1rem;
    z-index: 5;
    margin-top: 0px;
    top: 0;
    left: 0;
    text-align: left;
    height: auto;
}

/*Pro divny flex menu*/
.divny-flex-menu-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.divny-flex-menu-nadpis-a-mece {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 70px;
    gap: 7px;
}

.divny-flex-menu-nadpis-container {
    flex: 1;
    text-align: center;
}

.divny-flex-menu-mece-container {
    text-align: center;
    width: 90px;
}

.divny-flex-menu-podnadpis {
    text-align: center;
    margin-top: 7px;
    flex: 23px;
}

.divny-flex-menu-mece-img {
    width: 70px;
    height: 70px;
    object-fit: contain;
    cursor: pointer;
    text-align: left;
    margin-bottom: 20px;
}

/* poloha */
/* .pravo {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10;
}

.nadpis {
    text-align: left;
    margin-left: 20px;
    margin-bottom: 5px;
} */

/* menu */
/* .menu {
    width: 70px;
    height: 70px;
    cursor: pointer;
    transition: transform 0.3s;
}

.menu-btn {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.menu-open .menu {
    transform: rotate(90deg);
} */

.side-menu {
    position: fixed;
    right: -100%;
    width: min(400px, 70%);
    height: 100%;
    background-color: slategrey;
    transition: right 0.3s;
    flex-direction: column;
    z-index: 5;
    display: flex;
    padding-top: 60px;
}

.side-menu-open {
    right: 0;
}

.menu-item-s-submenu {
    position: relative;
    display: flex;
    flex-direction: column;
}

.ma-submenu {
    cursor: pointer;
}

.submenu {
    display: none;
    flex-direction: column;
    padding-left: 20px;
    margin-top: 5px;
}

.menu-item-s-submenu:hover .submenu {
    display: flex;
}

/* Styl pro odkazy v menu */
.side-menu a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
}

.side-menu a:hover {
    background: darkgray;
}

/* Styl pro dark light tlacitko */
.darkXlight {
    background-color: transparent;
    bottom: 20px;
    right: 20px;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: left;
}