/* Obecné nastavení stránky */
body {
    background-color: black;
    color: white;
    width: 100%;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    padding: 0;
}

/* Navigační menu */
nav {
    position: fixed;
    width: 100%;
    background-image: url("kvido\ html-img/foto/Nav.panel/temný\ les\ 3.jpg");
    padding: 1rem;
    height: 83px;
    z-index: 5;
    margin-top: 0px;
    top: 0;
    left: 0;

}

/* poloha */
.pravo {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10;
}

/* menu */
.menu {
    width: 70px;
    height: 70px;
    cursor: pointer;
    transition: transform 0.3s;
}

.menu-btn {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.menu-open .menu {
    transform: rotate(90deg);
}

.side-menu {
    position: fixed;  
    right: -15%;
    width: 15%;
    height: 100%;
    background-color: slategrey;
    transition: right 0.3s;
    flex-direction: column;
    z-index: 5;
    display: flex;
    padding-top: 60px;
}

.side-menu-open {
    right: 0;
}

.center {
    text-align: center;
}

/* Styl pro odkazy v menu */
.side-menu a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
}
.side-menu a:hover {
    background: darkgray;
}

/* písmo */
h4{
    font-style: oblique;
    margin-top: -7px;
    
}

h3{
   padding-top: 0;
   margin-top: 0;

    
}

h1{
    font-size: 33px;
    margin-top: 3px;
}

.italic{
   font-style: italic;
}

.nahoru{
    margin-top: -120px;
    position: relative;
 }

 .nahoru2{
    margin-top: -100px !important;

}

 .dolu{
    margin-top: 120px;
    position: relative;
 }

 .bez-mezer{
    margin-top: 0;
    padding-top: 0;
    line-height: 1;
 }

 .worker{
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 100px;
 }

 .icons{
    display: flex;
    justify-content: space-between;
 }

.icons img{
    width: 100px;
    padding: 10px;
    justify-content: center;
    margin-right: 10%;
    margin-left: 10%;
}

.icons h2{
    flex: 1;
    padding: 10xp;
    text-align: center;
}

.icons h3{
    flex: 1;
    padding: 10xp;
    text-align: center;
}

.per-foto {
    display: flex; 
    justify-content: center; 
    gap: 10px; 
    flex-wrap: wrap; 
    max-width: 90%; 
    margin: 0 auto; 
}

.per-foto img {
    width: auto; /* Umožní přizpůsobit šířku */
    max-width: 300px; /* Nastaví maximální šířku obrázku */
    height: auto; /* Zachová poměr stran */
    object-fit: contain; /* Zajistí správné zobrazení bez deformace */
    border-radius: 10px; /* Zaoblení rohů */
}

a{
   color: aqua;
}

.icons2{
    display: flex;
    justify-content: center;
 }

.icons2 img{
    width: 150px;
    justify-content: center;
    margin-right: 10%;
    margin-left: 10%;
}
/**/
/*pro o nas*/

.cepka2 h3,.organizatori2 h3 {
    margin-left: 7px;
    margin-right: 7px;
}

.organizatori {
    display: flex;
    flex-direction: column;
}

.organizatori2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 5px 10px 5px 10px;
}

.cepka{
    display: flex;
    flex-direction: column;
}

.cepka2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5px 10px 5px 10px;
}

.foto {
    width: 150px;
}

.foto2{
    height: 158px;
}

@media only screen and (max-width: 500px) {
    .cepka2{
        display: grid;
        grid-template-columns: 1fr;
    } 
    .organizatori2 {
        display: grid;
        grid-template-columns: 1fr;
    }
    .foto, .foto2 {
        width: 50% !important;
        height: auto;
    }
}

@media only screen and (min-width: 1400px) {
    .foto,.foto2 {
        width: 40% !important;
        height: auto;
    }
}