/* Obecné nastavení stránky */
body {
    /* background-color: light-dark(rgb(219, 219, 219),rgb(10, 10, 10)); */
    /* color: light-dark(white,black); */
    background-color: rgb(10, 10, 10);
    color: white;
    width: 100%;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 100px;
}
/*nastaveni pro light a dark mode*/
body.light {
    background-color: rgb(219, 219, 219);
    color: black;
}

body.dark {
    background-color: rgb(10, 10, 10);
    color: white;
}