@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* roboto font od googlu */

:root {
    color-scheme: dark light;
    --background-color-dark: hsl(0, 0%, 4%);
    --background-color-light: hsl(0, 0%, 86%);
    --background-color-light-accent: hsl(0, 0%, 92%);
    --background-color-dark-accent: hsl(0, 0%, 10%);
    --text-color-dark: white;
    --text-color-light: black;
    --bg-clr: hsl(0, 0%, 4%);
    --bg-accent-clr: hsl(0, 0%, 14%);
    --text-clr: white;
    --nav-img: url(https://burthgulash.github.io/Chynicky_LARP/kvido%20html-img/foto/Nav.panel/temný%20les%203.jpg);
    --nav-img-light: url(https://burthgulash.github.io/Chynicky_LARP/kvido%20html-img/foto/Nav.panel/IMG_6357.jpg);
    --nav-img-dark: url(https://burthgulash.github.io/Chynicky_LARP/kvido%20html-img/foto/Nav.panel/temný%20les%203.jpg);
}

* {
    box-sizing: border-box;
}

/* Obecné nastavení stránky */
body {
    /* background-color: light-dark(rgb(219, 219, 219),rgb(10, 10, 10)); */
    /* color: light-dark(white,black); */
    background-color: var(--bg-clr);
    color: var(--text-clr);
    width: 100%;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 100px;
}

/*nastaveni pro light a dark mode*/
body.light {
    --bg-clr: var(--background-color-light);
    --text-clr: var(--text-color-light);
    --bg-accent-clr: var(--background-color-light-accent);
    --nav-img: var(--nav-img-light);
}

body.dark {
    --bg-clr: var(--background-color-dark);
    --text-clr: var(--text-color-dark);
    --bg-accent-clr: var(--background-color-dark-accent);
    --nav-img: var(--nav-img-dark);
}

.center {
    text-align: center;
}

button {
    background-color: hsl(0, 0%, 42%);
    padding: 3px 8px;
    border: none;
    border-radius: 5px;
    color: white;
}

button:hover {
    background-color: hsl(0, 0%, 52%);
}

/*RŮZNÉ STYLY PRO TEXT/PISMO MOŽNA SMAZAT NEBO ZMĚNIT*/
/*RŮZNÉ STYLY PRO TEXT/PISMO MOŽNA SMAZAT NEBO ZMĚNIT*/
/*RŮZNÉ STYLY PRO TEXT/PISMO MOŽNA SMAZAT NEBO ZMĚNIT*/

/* písmo */
h4 {
    font-style: oblique;
    margin-top: -7px;

}

h3 {
    padding-top: 0;
    margin-top: 0;


}

h1 {
    font-size: 33px;
    margin-top: 3px;
}

.nadpis {
    margin-top: 5px;
    margin-bottom: 0px;
}

.italic {
    font-style: italic;
}

.nahoru {
    margin-top: -120px;
    position: relative;
}

.nahoru2 {
    margin-top: -100px !important;

}

.dolu {
    margin-top: 120px;
    position: relative;
}

.bez-mezer {
    margin-top: 0;
    padding-top: 0;
    line-height: 1;
}

body.light a {
    color: #36c;
}

body.light .link {
    color: #36c;
}

a,
.link {
    color: #00ffff;
}



/* skibidi ikony*/
.info0 {
    width: 100%;
}

/*pro ty popovery ktere jsou zatim jen na kalendar akci*/

:popover-open {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    /* max-width: 70%;
    max-height: 70%; */
    background-color: rgba(0, 0, 0, 0.65);
    text-align: center;
    border: 1px solid #ccc;
    padding: 15px;
}

@media only screen and (max-width: 800px) {
    :popover-open {
        max-width: 85%;
        max-height: 85%;
    }
}

/*Oddělovátko Polski*/
.show {
    display: block !important;
}

img {
    user-select: none;
}

.disabled {
    cursor: not-allowed;
}

.z-index-maly {
    z-index: -1000;
}

/*Stránka akcí*/

.pravidla {
    color: var(--text-clr);
    padding: 1em;
    background-color: var(--bg-accent-clr);
}

.prihlasit {
    color: aqua;
    padding: 1em;
    /* font-size: 7px nevim co zkousis to bz bylo extreme maly*/
}

.bold-100 {
    font-weight: 100;
}

.bold-200 {
    font-weight: 200;
}

.bold-300 {
    font-weight: 300;
}

.bold-400 {
    font-weight: 400;
}

.bold-500 {
    font-weight: 500;
}

.bold-600 {
    font-weight: 600;
}

.bold-700 {
    font-weight: 700;
}

.bold {
    font-weight: bold;
}

.bold-800 {
    font-weight: 800;
}

.bold-900 {
    font-weight: 900;
}