@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

p {
    font-family: "Roboto";
    margin: 0;
}

.center-text {
    text-align: center;
}

.text-img-jine {
    margin-left: 30px;
    margin-right: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.popis-text-xarol{
    height: 400px;
    background-color: lightgrey;
    width: 100%;
    display: inline-block;
}

table, th, td {
    border:1px solid black;
    vertical-align: bottom;
}
.table {
    margin-left: auto;
    margin-right: auto;
}

.img-xarol {
    height: 400px;
    width: auto;
    margin-left: 15%;
}

.img-xarol-div {
    float: right;
    height: 400px;
    vertical-align: top;
}

.tabulka-doporuceni{
    background-color: lightcyan;
    text-align: center;
    width: 100%;


}



.tlacitko-pokracovat{
    background-color: rgb(252, 177, 39);
    cursor: pointer;
    border-width: 1px;
    border-color: rgb(189, 116, 0);
    transition: box-shadow 0.25s;
    transition: opacity 0.25s;
    border-radius: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.tlacitko-pokracovat:hover{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    opacity: 0.85;



}
.p1{
    margin-bottom: 10px;
    font-family: "Roboto";
}

.p2 {
    font-family: "Roboto";
    margin-bottom: 10px;
}


.p3{
    font-family: "Roboto";
    margin-bottom: 10px     ;
}

.p4 {
    font-family: "Roboto";
}

.doporuceni {
    height: auto;
    background-color: rgb(255, 255, 255);
    border-color: rgb(63, 175, 72);
    border-width: 2px;
    border-radius: 4px;
    border-style: solid;
    color: rgb(63, 175, 72);
    padding-right: 35%;
    padding-left: 35%;
    padding-top: 1px;
    padding-bottom: 1px;
    font-weight: 600;
    font-family: "Open Sans";
    font-size: 19px;
    transition: color 0.35s;
    transition: background-color 0.35s;
}
.doporuceni:hover{
    background-color: rgb(63, 175, 72);
    border-color: rgb(255, 255, 255);;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.sleva {
    text-decoration: none;
    background-color: rgb(14, 61, 127);
    color: white;
    border-radius: 2px;
    cursor: pointer;
    border: none;
    font-size: 19px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 35%;
    padding-right: 35%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sleva:hover {
    opacity: 0.85;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
