/* pro os2*/

.info,
.info2-1,
.info2-2 {
    grid-template-columns: 1fr;
}

/*DDOSLOVA K CEMU JSOU TYHLE STYLY JA NEVIM ALE NECHAM JE TADY*/
.ico {
    width: 30%;
}

.worker {
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 100px;
}

.icons {
    display: flex;
    justify-content: space-between;
}

.icons img {
    width: 100px;
    padding: 10px;
    justify-content: center;
    margin-right: 10%;
    margin-left: 10%;
}

.icons h2 {
    flex: 1;
    padding: 10xp;
    text-align: center;
}

.icons h3 {
    flex: 1;
    padding: 10xp;
    text-align: center;
}

/*pro o nas*/

.organizatori2,
.cepka2 {
    margin: 5px 15px 5px 15px;
}

.organizatori h2,
.cepka h2 {
    font-size: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.organizatori {
    display: flex;
    flex-direction: column;
}

.organizatori2 {
    display: grid;
    grid-template-columns: 1fr;
}

.cepka {
    display: flex;
    flex-direction: column;
}

.cepka2 {
    display: grid;
    grid-template-columns: 1fr;
}

@media only screen and (min-width:600px) {
    .foto-mobil {
        width: 50%;
    }

    ;
}

.foto-mobil {
    width: 60%;
}

/*
@media only screen and (max-width: 450px) {
    .cepka2{
        display: grid;
        grid-template-columns: 1fr;
    } 
    .organizatori2 {
        display: grid;
        grid-template-columns: 1fr;
    }
}
*/