/*pro os2*/

.info-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin: 7px 15px 7px 15px;
    width: 100%;
}

@media only screen and (min-width: 1300px) {
    .info {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media only screen and (max-width: 650px) {
    .info {
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width: 500px) {
    .info {
        grid-template-columns: 1fr;
    }
}

.icons h1{
    flex: 1;
    padding: 10xp;
    text-align: center;
}

.worker{
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 100px;
 }

.icons{
    display: flex;
    justify-content: space-between;
 }

.icons img{
    width: 100px;
    padding: 10px;
    justify-content: center;
    margin-right: 10%;
    margin-left: 10%;
}

.icons h2{
    flex: 1;
    padding: 10xp;
    text-align: center;
}

.icons h3{
    flex: 1;
    padding: 10xp;
    text-align: center;
}

/* O NAS MOZNA SMAZAT NEBO ZMENIT */
/* O NAS MOZNA SMAZAT NEBO ZMENIT */
/* O NAS MOZNA SMAZAT NEBO ZMENIT */

/*pro o nas*/

.cepka2 h3,.organizatori2 h3 {
    margin-left: 7px;
    margin-right: 7px;
}

.organizatori {
    display: flex;
    flex-direction: column;
}

.organizatori2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 5px 10px 5px 10px;
}

.cepka{
    display: flex;
    flex-direction: column;
}

.cepka2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5px 10px 5px 10px;
}

.foto {
    width: 150px;
}

.foto2{
    height: 158px;
}

@media only screen and (max-width: 500px) {
    .cepka2{
        display: grid;
        grid-template-columns: 1fr;
    } 
    .organizatori2 {
        display: grid;
        grid-template-columns: 1fr;
    }
    .foto, .foto2 {
        width: 50% !important;
        height: auto;
    }
}

@media only screen and (min-width: 1400px) {
    .foto,.foto2 {
        width: 40% !important;
        height: auto;
    }
}
 